doctype html
html 
    head 
        style
            include ./style.css
    body
        .container
            textarea#content(placeholder="Lets Write ")
            .buttons
                button#openfile Open
                button#savefile Save
    script
        include ./script.js
